@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.navbar-brand {
	background-color: #93D9F8;
	border-radius: 20px;
	border: 3px groove black;
	width: 350px;
    height: 130px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 20px;
	display: inline-block;
	box-shadow: 4px 4px 4px 2px #127475;

}	

.navbar-brand:hover {
	background-color:#1f7a8c;
	color: #fff;
}

#navbar {
	height: 200px;
	background-color: #bde0fe;
}

.Ingreso {
	border-radius: 100px;
	font-size: 15px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
	font-style: oblique;	
	border: 3px solid #93D9F8;
	background-color: #fff;
    text-decoration: none;
}

.Ingreso:hover{
	background-color:#1f7a8c;
	color: #fff;
    text-decoration: underline;
}

#BarraBotones {
	background-color: #c0c0c0;
	height: 60px;
    padding: 5px;

}

.Botones {
    /*border-radius: 40px 40px 40px 40px;*/
    height: 50px;
	font-size: 15px;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-style: oblique;
	display: inline-block;
	padding: 12px;
	padding-left: 110px;
	padding-right: 100px;
    margin-left: 15px;
	background-color: #c0c0c0;
    text-decoration: none;
    color: #000;
}

.Botones:hover {
	background-color:#1f7a8c;
	color: #fff;
    text-decoration: underline;
}

article {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    
}

.servicios-1 {
    border: 3px solid #127475;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin-left: 0px;
    margin-top: 20px;
}

.servicios-2 {
    border: 3px solid #127475;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
}

.servicios-3 {
    border: 3px solid #127475;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
}

#footer {
	margin: 0px;
	padding: 0px;
	background-color:  #bde0fe;
	height: 250px;
}

.lista {
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.sedes {
    display: inline-block;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#socialmedia {
    display: inline-block;
    float: right;
    margin-right: 120px;
    padding-top: 50px;
}

#socialmedia a{
    text-decoration: none;
    color: #000;
}

#socialmedia a:hover{
    text-decoration: underline;
    background: #a6a2a2;
    padding: 10px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 5px;
}

#footer {
    height: auto;
    height: 300px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}